*{
    padding: 0;
    margin: 0;
    
}
.form{

padding: 10px;
text-align: center;    
}

div{
    position: relative;
    margin: 10px;

}
img{

    width: 250px;
    height: 300px;
   margin-left: 530px ;
  
   
}
li:hover{
color: aquamarine;

cursor: pointer;
}
.btnBack{
    border-style: dashed;
    text-align: left;
}
.btnBack:hover{
cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 167, 243);
    
}
.navbar-list{
    display: flex;
    list-style: none;
    
    
}

.navbar-list li:hover{
   background-color: rgb(238, 10, 238);
    
}

.navbar-list li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    
}
.navbar-list li a:hover{
    
    color: aquamarine;
}

.profile-bar{
    
    position: relative;
    
    
}

.profile-menu{
    position: absolute;
    right: 0;
   
    background-color: blue;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-menu button{
    width: auto;
    padding: 10px;
    border-style: hidden;
    background-color: turquoise;
}
.profile-menu button:hover{
   cursor: pointer;
}

.logoPrincipal{
    border-radius: 50%;;
}

.container-register{
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    margin: auto;
}

.container-register input {
    margin-bottom: 30px;
    padding: 3px;
}
.container-register button {
    margin-bottom: 30px;
    padding: 5px;
    cursor: pointer;
}
.dropDown {
 text-align: center;
 margin-bottom: 20px;
  padding: 3px;
}

.dropDown option{
    background-color: aquamarine;
}