*{
    padding: 0;
    margin: 0;
    
}


.form{

padding: 10px;
text-align: center;    
}


img{

    width: 250px;
    height: 300px;
   margin-left: 530px ;
   cursor: pointer;
   
}
li:hover{
color: aquamarine;

cursor: pointer;
}
.btnBack{
    border-style: dashed;
    text-align: left;
}
.btnBack:hover{
cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(247, 167, 243);
    
}
.navbar-list{
    display: flex;
    list-style: none;
    
    
}

.navbar-list li:hover{
   background-color: rgb(238, 10, 238);
    
}

.navbar-list li a {
    text-decoration: none;
    color: black;
    padding: 20px;
    
}
.navbar-list li a:hover{
    
    color: aquamarine;
}

.profile-bar{
    
    position: relative;
    
    
}

.profile-menu{
    position: absolute;
    right: 0;
   
    background-color: blue;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-menu button{
    width: auto;
    padding: 10px;
    border-style: hidden;
    background-color: turquoise;
}
.profile-menu button:hover{
   cursor: pointer;
}

.logoPrincipal{
    border-radius: 50%;;
}

.container-register{
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    margin: auto;
}

.container-register input {
    margin-bottom: 30px;
    padding: 3px;
}
.container-register button {
    margin-bottom: 30px;
    padding: 5px;
    cursor: pointer;
}
.dropDown {
 text-align: center;
 margin-bottom: 20px;
  padding: 3px;
}

.dropDown option{
    background-color: aquamarine;
}


.navbarNot{
    display: flex;
    background-color: gray;
    justify-content: space-between;
    margin-bottom: 10px;
}

.navbarNot-list{
    display: flex;
    list-style: none;
}
.navbarNot img{
    height: 40px;
    width: 30px;
    margin-right: 10px;
    margin-left: 20px;
}
.navbarNot-item{
    margin-left: 40px;
}
.navbarNot-btn{
    padding: 10px;
}
.navbarNot-item:hover{
background-color: aqua;
}

.postcard-div{
    border: 1px solid #ccc;
   
    width: 60%;;
    margin: auto;
    padding-bottom: 50px;
}

.profile-div{
    display: flex;
  
}

.profile-div img{
    width: 30px;
    height: auto;
    margin-left: 0;
}

.post-div{
   
   text-align: center;
   display: flex;
   flex-direction: column;
  
}

.post-div img{
   margin: auto;
   padding: 10px;
   width: 50%;
   height: 70%;
}

.countLikes{
    
     display: flex;
     justify-content: space-between;
}

.countLikes button{

  border: none;
  cursor: pointer; 
  background-color: white;
}


.navInteraction button{
    padding: 8px;
    padding-left: 15px;
    border: none;
}

.navInteraction button:hover{
cursor: pointer;
background-color: #ccc;
font-size: large;
}

.postcardInstancia .postcard-div{
    margin-bottom: 50px;
}

.side-comment{
    position: relative;
}

.side-comment-child{
    position: absolute;
    
    border: 1px solid #ccc;
    width: max-content;
}

.profile-sideComments img{
   width: 10px;
   height: auto;
   margin-left: 0;
   
}

.profile-sideComments{
    display: flex;
    
}

.container-alert-login{
    position: fixed;
    width:80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    background-color: rgba(0,0,0,0.5);
   
    
   
}


.container-stories{
      position: relative;
    border: 2px solid black;
    width: 810px;
    height: 250px;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
   
}

.container-flex{
  
display: flex;
width: 1050px;
height: 100%;
transition: transform 0.3s ease ;

}

.statu-child{
   width: 40%;
    border: 2px solid red;
    border-radius: 1%;
    
}

.btnNext{
  
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 15%;
  padding-bottom: 15%;
  border-style: none;
  background-color: azure;
  cursor: pointer;
}

.btnBack{
    position: absolute;
  top: 0;
  left: 0;
padding-top: 15%;
  padding-bottom: 15%;
  border-style: none;
  background-color: azure;
  cursor: pointer;
}

.statu-child video{
   
   width: 100%;
   height: 100%;
   border-radius: 1%;
   background-color: black;
   cursor: pointer;
}

.statu-child img{
   
   width: 100%;
   height: 100%;
   border-radius: 1%;
   background-color: black;
   margin-left: 0;
}

.barChat{
    position: fixed;
    background-color: antiquewhite;
    width: 15%;
    right: 0;
    bottom: 0;
    cursor: pointer;
    padding-top: 15px;
    border-radius: 10%;
}

.barChatShow{
    position: fixed;
   
    background-color: antiquewhite;
    width: 15%;
    height: 90%;
    right: 0;
    bottom: 0;
    
    
    border-top-right-radius: 10%;
    border-top-left-radius: 10% ;
    
}
.x{
cursor: pointer;
}

.barChatShow .x{
margin-left: 85%;
margin-bottom: 30px;

}

.chats{
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

.chats:hover{
    background-color: darkgray;
}

.chatOpen{
     position: fixed;
   
    background-color: antiquewhite;
    width: 17%;
    height: 40%;
    right: 250px;
    bottom: 0;
    overflow-y: scroll;
   
   
}

.chatUp{
    display: flex;
    background-color: white;
    justify-content: space-between;
    
}
.chatdown{
    
    
    position: fixed;
    width: fit-content;
    bottom: 0;
    
}
.chatdown input{
    padding-right: 10px;
}

.chefsito{
    width: 100%;
   
    background-color: aqua;
}


.userIA{
    width: 100%;
    
    background-color: red;
}

.container-new-post{
    width: 57%;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    
    margin-bottom: 10px;
    padding: 18px;
    background-color: #e6e6e6;
}

.inpText {
    padding: 10px;
    width: 70%;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container-new-post button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.container-new-post button:hover{
    background-color: #ccc;
}

.file{
    cursor: pointer;
    
   
}
video{
    width: min-content;
    height: auto;
    cursor: pointer;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    
}

.container-view-post{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #ccc;
    width: 80%;
    height: 90%;
    transform: translate(-50%,-50%);
    display: flex;
    
}

.child-img{

 width: 60%;
 height:100%;
overflow: hidden;
}

.child-img img{
    
    margin: auto;
    margin-left: 23px;
    width: 87%;
    height: 100%;
    
    padding-left: 10px;
    padding-right: 10px;
}



.child-comment-like{
    border: 1px solid black;
    width: 40%;
     height:96%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.child-comment-like div{
    position: fixed;
    bottom: 0;
    
}

.child-comment-like div input{
  
   padding-left: 200px;
    
}
.child-comment-like div button{
    
}
.exit{
    position: fixed;
    right: 0;
}

.container-view-post button{

width: 58px;
}

.like{
position: fixed;
bottom: 25px;
}